<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/fire.png"> <!-- not working -->

    <title>Home temperature</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Specific css for this home temperature -->
    <link href="/static/css/home-temperature.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type="text/javascript">
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer");

chart.options.axisY = { suffix: "ºC" };
chart.options.title = { text: "Daily temperature" };
chart.options.axisX = { valueFormatString: "DD/MM/YYYY", labelAngle: -50 };

var averageSeries = {
    type: "spline",
    legendText: "Average",
    color: "green",
    showInLegend: true,
};

var minSeries = {
    type: "spline",
    legendText: "Minimum",
    color: "blue",
    showInLegend: true,
};

var maxSeries = {
    type: "spline",
    legendText: "Maximum",
    color: "red",
    showInLegend: true,
};

chart.options.data = [];
chart.options.data.push(averageSeries);
chart.options.data.push(minSeries);
chart.options.data.push(maxSeries);

$.ajax({
    url: "/temperature/api/temperaturedailys",
    data: {
        format: "json"
    },
    success: function( apiData ) {
        var averagePoints = [];
        var minPoints = [];
        var maxPoints = [];
        var t = apiData.results;

        for (var i = 0; i < t.length; i++) {
            // Parse date
            dayStr = t[i].day
            day = new Date(dayStr.substring(0,4), dayStr.substring(4,6)-1, dayStr.substring(6,8));

            averagePoints.push({
                x: day,
                y: t[i].sum_value / t[i].n_samples
            });
            minPoints.push({
                x: day,
                y: t[i].min_value
            });
            maxPoints.push({
                x: day,
                y: t[i].max_value
            });
        }

        averageSeries.dataPoints = averagePoints;
        minSeries.dataPoints = minPoints;
        maxSeries.dataPoints = maxPoints;
        chart.render();
    }
});
} // end of - window.onload
</script>
</head>

<body>
<div class="container" id="top">

<!-- Navbar **************************************** -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/temperature">Home temperature</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/temperature">Thermostat</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Graphs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="/temperature/graph">Daily</li>
            <li><a href="/temperature/graph/hourly">Hourly</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>


<!-- Contents ************************************** -->
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<div class="double-border"></div>


<!-- Footer
================================================== -->
<!-- Footer **************************************** -->
<footer>
  <p class="pull-right"><a href="#top">Back to top</a></p>
  <div class="links">
    <a href="https://github.com/smallo/home-temperature">Source code @ github</a> ** 
    <a href="http://iconka.com/">Iconka</a> ** 
    <a href="http://www.aha-soft.com/free-icons/free-3d-glossy-icon-set/">aha-soft</a>
  </div>
</footer>

</div><!-- /container -->


<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/canvasjs.min.js"></script>

</body>
</html>
